<footer class="foot">
  <div class="wrap">
    <div class="foot__cols">
      <div class="foot__brandcol">
        <a href="index.html#top" class="brand"><b>Dr. Bernd Slaghuis</b></a>
        <p class="foot__intro">Karriere- und Business-Coaching in Köln und deutschlandweit online. Ehrlich, strukturiert und auf Augenhöhe.</p>
      </div>
      <div>
        <div class="foot__h">Themen im Fokus</div>
        <div class="foot__list">
          <a href="entwurf-platzhalter.html">Neuorientierung im Beruf</a>
          <a href="entwurf-platzhalter.html">Karriereplanung</a>
          <a href="entwurf-platzhalter.html">Bewerbung</a>
          <a href="entwurf-platzhalter.html">Chef &amp; Kollegen</a>
          <a href="entwurf-platzhalter.html">Executive-Coaching</a>
          <a href="entwurf-platzhalter.html">Führungskräfte-Coaching</a>
          <a href="entwurf-platzhalter.html">Mitarbeiterbindung</a>
          <a href="entwurf-platzhalter.html">Outplacement</a>
        </div>
      </div>
      <div>
        <div class="foot__h">Navigation</div>
        <div class="foot__list">
          <a href="index.html#ueber">Über mich</a>
          <a href="karriere-coaching.html">Karriere-Coaching</a>
          <a href="business-coaching.html">Business-Coaching</a>
          <a href="vortraege.html">Vorträge</a>
          <a href="blog.html">Blog</a>
          <a href="medien.html">Presse &amp; Medien</a>
          <a href="index.html#kontakt">Kontakt</a>
          <a href="hinweise.html">Über diesen Entwurf</a>
        </div>
      </div>
    </div>
    <div class="foot__bottom">
      <span>Karriere- und Business-Coaching &middot; Köln</span>
      <span><a href="impressum.html">Impressum</a> &nbsp;&middot;&nbsp; <a href="datenschutz.html">Datenschutz</a></span>
    </div>
  </div>
</footer>
